name: Learning

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Run Lint
        run: ./gradlew lintDebug

      - name: Upload lint report
        uses: actions/upload-artifact@v3
        with:
          name: lint.html
          path: app/build/reports/lint-results-debug.html


  unit-test:
    needs: [lint]
    runs-on: ubuntu-latest

    steps:
      - name: Setup actions.
        uses: actions/checkout@v3

      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Run unit test
        run: ./gradlew test

      - name: Upload unit test report
        uses: actions/upload-artifact@v3
        with:
          name: UnitTestReport
          path: app/build/reports/tests/testDebugUnitTest/


  build-apk:
    needs: [unit-test]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Build debug apk
        run: ./gradlew assembleDebug --stacktrace

      - name: Upload apk
        uses: actions/upload-artifact@v3
        with:
          name: testing.apk
          path: app/build/outputs/apk/debug/app-debug.apk


  build-signed-release-apk:
    needs: [build-apk]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Generate Release Apk
        run: ./gradlew assembleRelease

      - name: Sign Release Apk
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/release/
          signingKeyBase64: ${{ secrets.SIGNINGKEY }}
          alias: ${{ secrets.KEYSTORE_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEYSTORE_PASSWORD }}

      - name: Upload Release apk
        uses: actions/upload-artifact@v3
        with:
          name: release.apk
          path: app/release/app-release.apk




